{% extends 'base.html' %}

{% block title %}
    Perfil
{% endblock %}

{% block content %}
    {% load static %}
    <div class="background_registrarse">
        <div class="grid_registro">
            <div class="grid_registro_contenido mt-5 mb-5">
                <div class="mt-3 mb-3 mx-3">
                    <form>
                        {% csrf_token %}
                        <h3>Reset de contraseña</h3>
                        <label for="txt_correoRegistrado" class="form-label mt-1 mb-2">Correo electrónico</label>
                        <input type="email" class="form-control mb-2" id="txt_correoRegistrado" placeholder="ejemplo@correo.cl" />
                        <a type="button" class="btn btn-danger" id="btn_reset">Enviar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% load static %}
    <script src="{% static 'js/reset.js' %}"></script>
{% endblock %}